/* body css for whole page */
body
{
    margin:0px;
    background-color: #cccccc;
    background-color:transparent;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
}

#main{
    width:600px; 
    height:auto; 
    overflow:hidden;
    padding-bottom:20px; 
    margin-left:auto; 
    margin-right:auto; 
    border-radius:5px; 
    padding-left:10px; 
    margin-top:50px; 
    border-top:3px double black; 
    border-bottom:3px double black;
    padding-top:20px;
}

#main table
{
    font-family:"Comic Sans MS", cursive;
}
/* css code for textbox */
#main .tb
{
    height:28px; 
    width:230px; 
    border-top:1px solid black; 
    color:black;
    font-weight:bold; 
    border-left:1px solid black; 
    opacity:0.9;
}
#main .tb:hover
{
    background-color:silver; 
    outline:none; 
    border-radius: 2px; 
    color:black; 
    border:1px solid black;

}

#main .tb:focus
{
    height:28px; 
    border:1px solid black; 
    outline:auto; 
}

/* css code for button*/
#main .btn
{
    width:150px; 
    height:32px; 
    text-align: center;
    outline:none;  
    color:#f7f7f7; 
    font-weight:bold;
    border:1px solid black; 
    text-shadow: 0px 0.5px 0.5px #fff; 
    border-radius: 2px; 
    font-weight: 600; 
    color: black; 
    letter-spacing: 1px; 
    font-size:14px;
     background-color:white; 
    }

#main .btn:hover
{
    background-color:darkgrey; 
    outline:none; 
    border-radius: 2px; 
    color:black; 
    border:1px solid black;
}
.select {
    height:34px; 
    width:235px; 
    border-top:1px solid black; 
    color:grey;
    font-weight:bold; 
    border-left:1px solid black; 
}

h1 {
    color: black;
}
input[type="date"]
{
    height:28px; 
    width:230px; 
    border-top:1px solid black; 
    color:grey;
    font-weight:bold; 
    border-left:1px solid black; 
    
}
